services:
  workout-pass:
    depends_on:
      - workout-pass-pg-db
    build: .
    command: npm run dev
    ports:
      - "3333:3333"
      - "5555:5555"
      - "51204:51204"
    volumes:
      - .:/usr/app
      - /usr/app/node_modules
    networks:
      - workout-pass-network
  workout-pass-pg-db:
    image: bitnami/postgresql:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=workout_pass
    volumes:
      - workout_pass_pg_db:/var/lib/postgresql/data
    networks:
      - workout-pass-network
networks:
  workout-pass-network:
    driver: bridge
volumes:
  workout_pass_pg_db:
    driver: local